*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
html{
    font-size: 100px;
}
$d-list:320px,360px,375px,412px,414px;
$design-width:1242px;
@mixin top-bottom{
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto;
}
@each $w in $d-list{
    @media screen and (min-width:#{$w}){
        html{
            font-size: $w/$design-width*100px;
        }
    }
}
body{
    font-size:16px;
    font-family: "微软雅黑"; 
    background:url(../img/bg.png);
}
.header{
    position: relative;
    width: 100%;
    height: 2.1rem;
    padding: 0.6rem;
    span{
        font-size: 0.8rem;
        line-height: 0.8rem;   
        color:#959595;
    }
}
.rizi{
    padding-left:0.6rem;
    background: rgba(0,0,0,.1);
    width: 100%;
    height:0.64rem;
    line-height: 0.64rem;
    font-size:0.35rem;
    color:#000;
    font-weight: 600;
}
#input{
    display: block;
    border:0 ;
    height:0.4rem ;
    outline: none;
    color:#333;
    height: 100%;
    border-bottom: 1px solid #cacaca;
    width: 10.95rem;
    float:right;
    line-height:1.67rem;
    padding-left: 5px;
    background: transparent;
    font-size: 0.4rem;
}
.add{
    @include top-bottom;
    height: 0.7rem;
    width: 0.7rem;
    font-size: 0.7rem;
    left: 0.6rem;
    color:#ccc;
    line-height: 0.7rem;
    text-align: center;
    vertical-align: middle;
}
#ul{
    width: 100%;
    overflow: hidden;
}
#ul li{
    position: relative;
    width: 100%;
    height: 1.67rem;
    padding-left: 0.6rem;
    line-height: 1.67rem;
    font-size: 0.4rem;
    .btn{
        @include top-bottom;
        left: 0.6rem;
        border-radius: 50%;
        height: 0.7rem;
        width: 0.7rem;
        border: 1px solid #b8b8b8;
        box-shadow: 0px 0px 1px #b8b8b8;
    }
    .btndone{
        background: #a7a7a7;
        border: 3px solid #f3f3f3;
        box-shadow: 0px 0px 3px #b8b8b8;
    }
}
li .content{
    color:#333;
    height: 100%;
    border-bottom: 1px solid #cacaca;
    width: 10.95rem;
    float:right;
    line-height:1.67rem;
    padding-left: 5px;
}
li.done .content{
    text-decoration: line-through;
    color:#e4e4e4;
}

.tianjia{
    width: 100%;
    height: 1.67rem;
    padding-left: 0.6rem;
    line-height: 1.67rem;
    position: relative;
    font-size: 0.4rem;
}
@keyframes delete{
    from{
        margin-left:0;
    }
    to{
        margin-left: 150%;
    }
}
.active{
    animation:delete 0.8s ease-in-out both;
}
